
<% if flash[:notice].blank? and flash[:alert].blank? %>
<br />
<br />
<% end %>

<center>

  <h1>Welcome, <%= APP_NAME %>.</h1>

  <% if flash[:notice].blank? and flash[:alert].blank? %>
    <br />
  <% else %>
    <%# 通知／エラーメッセージ %>
    <%= simple_format( flash[:notice], style: "color: green;" ) unless flash[:notice].blank? %>
    <%= simple_format( flash[:alert], style: "color: red;" ) unless flash[:alert].blank? %>
  <% end %>
  
  <% if session[:user_id].blank? %>
    <%= simple_format( "Please Login.", style: "color: blue; font-size: 18px;" ) %>
    <br />
    <%= link_to "Login", "/auth/#{DEFAULT_PROVIDER}" %>
  <% elsif @members.index( current_user.screen_name ) %>
    <%# Tweet作成フォーム %>
    <%= form_for :tweet, url: { action: 'create' } do |f| %>
      <%# 投稿テキストエリア %>
      <span class="field">
        <%= f.text_area :post, rows: "5", cols: "50", onKeyup: "str_count(value);" %>
      </span>
      
      <br />
    
      <%# 文字数カウント %>
      <span id="hash_tag"><%= @hash_tag %></span> <span id="str_length"><%= @str_count %>文字</span><br />
      
      <br />
      
      <%# Postボタン %>
      <span class="actions"><%= f.submit "意識高い高〜い", disable_with: "意識高い高〜い" %></span><br />
    <% end %>

    <br />
    <%# Twitterウィジェット%>
    <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
    new TWTR.Widget({
      version: 2,
      type: 'profile',
      rpp: 10,
      interval: 30000,
      width: 350,
      height: 200,
      theme: {
        shell: {
          background: '#333333',
          color: '#ffffff'
        },
        tweets: {
          background: '#000000',
          color: '#ffffff',
          links: '#00ffea'
        }
      },
      features: {
        scrollbar: true,
        loop: false,
        live: true,
        behavior: 'all'
      }
    }).render().setUser('ishikitakai').start();
    </script>
  <% else %>
    <%= simple_format( "You are not a Member.", style: "color: red; font-size: 18px;" ) %>
  <% end %>

</center>
